<!-- extends表明此页面继承自base.html文件 -->
{% extends "base.html" %}


{% block title %}
    记录系统 | 时间记录详情
{% endblock %}


{% block header %}
    {% include 'RecordTime\Header.html' %}
{% endblock header %}


{% block body%}
    <!-- 创建一个分割条 background-color:#ddd" -->
    <div class="container-fluid" style="height:30px" ></div>

    <!-- 收支记录的时间筛选器 -->
    <div class="container-fluid">   
        <form action="#" method="GET" role="form"> <!-- style="font-size:14px" -->
            <div class="input-group">
                <select class="form-control text-center" id="time_filter" name="time_filter">
                    <option value=''>---请选择时间范围---</option>
                    <option value='1'>今日数据</option>
                    <option value='2'>本周数据</option>
                    <option value='3'>本月数据</option> 
                    <option value='4'>本年数据</option>
                </select>
                <div class="input-group-append text-center">
                    <button type="submit" class="btn btn-success">查询</button>
                </div>
            </div>
        </form>
    </div>    

    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:20px" ></div>

    <!-- 显示筛选后的收支记录 -->
    <div class="container-fluid" >
        <div class="row">
            <div class="col-9">
                <p class="text-info" style="font-size:20px"><strong>{{ time_filter_label }}</strong></p>
            </div>

            <!-- 表格分页
            <div class="col-3 text-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
            -->
        </div>

        <table class="table table-hover text-center">
            <thead class="thead-light" > 
                <tr>
                    <!-- <th>年</th> -->
                    <!-- <th>月</th> -->
                    <!-- <th>日</th> -->
                    <!-- <th>周</th> -->
                    <th>活动日期</th>
                    <th>活动类型</th>
                    <th>具体活动</th>                   
                    <th>活动描述</th>
                    <!-- <th>开始时间</th> -->
                    <!-- <th>结束时间</th> -->
                    <th>耗用时长(min)</th>
                    <th>所属项目</th>
                    <!-- <th>记录时间</th> -->
                </tr>
            </thead>
            <tbody>
                {% for rs in record_times %}
                    <tr>
                        <!-- <td>{{ rs.event_year }}</td> -->
                        <!-- <td>{{ rs.event_month }}</td> -->
                        <!-- <td>{{ rs.event_day }}</td> -->
                        <!-- <td>{{ rs.event_week }}</td> -->
                        <td>{{ rs.event_year }}/{{ rs.event_month }}/{{ rs.event_day }}</td>
                        <td>{{ rs.event_type }}</td>
                        <td>{{ rs.event }}</td>
                        <td class="text-left">{{ rs.event_description }}</td>
                        <!-- <td>{{ rs.begin_time }}</td> -->
                        <!-- <td>{{ rs.end_time }}</td> -->
                        <td>{{ rs.time_duration}} </td>
                        <td>
                            {% if rs.project %}
                                {{ rs.project }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <!-- <td>{{ rs.record_time }}</td> -->
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-left" colspan="8">
                            <!--第一个单元格与第二个单元格合并，
                                colspan="8"意思是第一个单元格的长度改变成5个单元格的长度，
                                也就是把第一个单元格长度边长五倍，第二个单元格的<td></td>删除。-->
                            尚未添加任何记录。
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}