<!-- extends表明此页面继承自base.html文件 -->
{% extends "base.html" %}


{% block title %}
    记录系统 | 新增时间记录
{% endblock %}


{% block header %}
    {% include 'RecordTime\Header.html' %}
{% endblock header %}


{% block body%}
    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:20px" ></div>

    <div class="container">
        <p class="text-info" style="font-size:20px"><strong>增加时间记录:</strong></p>
    </div>

    <form action="" method="POST">
        <div class="container">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-primary"><b>保存</b></button>
                </div>

                <div class="col text-center">
                    <button type="reset" class="btn btn-outline-warning"><b>重置</b></button>
                </div>

                <div class="col text-center">
                    <a href="{% url 'nsp_RecordTime:RecordTime' %}">
                        <button type="button" class="btn btn-outline-info"><b>取消</b></button>
                    </a>
                </div>
            </div>
        </div>        
    </form>     

    <script>
        // 获取活动的大类选项
        $.get('/RecordTime/Ajax/LoadEventTpye/',function(data){
            for(var i=0, len=data.event_types.length; i<len ;i++){
                $new = $("<option value="+data.event_types[i][0]+">"+data.event_types[i][1]+"</option>");
                $("#id_event_type").append( $new );
            }
        });

        // 活动的大类选项改变以后
        $("#id_event_type").change(function(){    
            // 清空活动的明细类型数据
            $("#id_event").empty().append('<option value="">---请选择---</option>');
            $.ajax({
                url: '/RecordTime/Ajax/LoadEvent/',
                type: 'GET',
                data: {'event_type_id': $(this).val()}
            }).done(function(data){
                for(var i = 0,len = data.events.length; i<len ;i++){
                    $new = $("<option value="+data.events[i][0]+">"+data.events[i][1]+"</option>");
                    $("#id_event").append( $new );
                }
            });
        });
    </script>

    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:30px" ></div>
{% endblock body%}


{% block footer %}
    {% include 'RecordTime\Footer.html' %}
{% endblock footer %}