<!--
 * @Author: Zefeng Zhu
 * @Date: 2020-05-21 14:09:47
 * @LastEditTime: 2020-05-26 15:57:26
 * @LastEditors: Zefeng Zhu
 * @Description: 
 * @FilePath: \pro_rs\app_HomePage\templates\homepage\homepage.html
 * @ Mingsec Industry (C)Copyright 2009-2020
--> 
{% extends "homepage/base.html" %}
{% load bootstrap4 %}

{% block content%}
    <div class="container-fluid">
        <p>&nbsp</p>
    
        <div class="jumbotron bg-info text-center text-white" 
             onclick="window.open('/RecordTime/NewRecord','_self')">
            <h2><strong>RT - 记录时间</strong></h2>
        </div>
    
        <div class="jumbotron bg-info text-center text-white" 
             onclick="window.open('/RecordMoney/NewRecord','_self')">
            <h2><strong>RM - 记录收支</strong></h2>
        </div>
    </div>
{% endblock content%}