<!-- extends表明此页面继承自base.html文件 -->
{% extends "base.html" %}


{% block title %}
    记录系统 | 新增收支记录
{% endblock %}


{% block header %}
    {% include 'RecordMoney\Header.html' %}
{% endblock header %}


{% block body %}
    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:20px" ></div>

    <div class="container-fluid">
        <p class="text-info" style="font-size:20px"><strong>增加收支记录:</strong></p>
    </div>

    <!-- 提交收支记录数据的表单 -->
    <form action="" method="POST">
        <div class="container-fluid">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-primary"><b>保存</b></button>
                </div>

                <div class="col text-center">
                    <button type="reset" class="btn btn-outline-warning"><b>重置</b></button>
                </div>

                <div class="col text-center">
                    <a href="{% url 'nsp_RecordMoney:RecordMoney' %}">
                        <button type="button" class="btn btn-outline-info"><b>取消</b></button>
                    </a>
                </div>
            </div>
        </div>        
    </form>     
    
    <!-- 通过Ajax异步获取表单下拉框选项数据 -->
    <script>
        // 获取收支大类的选项
        $.get('/RecordMoney/Ajax/LoadIncomeAndExpenditureType/',function(data){
            for(var i=0, len=data.income_and_expenditure_types.length; i<len ;i++){
                $new = $("<option value="+data.income_and_expenditure_types[i][0]+">"+data.income_and_expenditure_types[i][1]+"</option>");
                $("#id_trading_type").append( $new );
            }
        });

        // 收支大类选项改变以后
        $("#id_trading_type").change(function(){    
            // 清空一级科目、二级科目的数据
            $("#id_trading_first_level_account").empty().append('<option value="">---请选择---</option>');
            $("#id_trading_detail_account").empty().append('<option value="">---请选择---</option>');
            $.ajax({
                url: '/RecordMoney/Ajax/LoadFirstLevelAccounts/',
                type: 'GET',
                data: {'trading_type_id': $(this).val()}
            }).done(function(data){
                for(var i = 0,len = data.first_level_accounts.length; i<len ;i++){
                    $new = $("<option value="+data.first_level_accounts[i][0]+">"+data.first_level_accounts[i][1]+"</option>");
                    $("#id_trading_first_level_account").append( $new );
                }
            });
        });

        // 一级科目选项改变以后
        $("#id_trading_first_level_account").change(function(){    
            // 清空二级科目的数据
            $("#id_trading_detail_account").empty().append('<option value="">---请选择---</option>');
            $.ajax({
                url: '/RecordMoney/Ajax/LoadDetailAccounts/',
                type: 'GET',
                data: {'trading_first_level_accounts_id': $(this).val()}
            }).done(function(data){
                for(var i = 0,len = data.detail_accounts.length; i<len ;i++){
                    $new = $("<option value="+data.detail_accounts[i][0]+">"+data.detail_accounts[i][1]+"</option>");
                    $("#id_trading_detail_account").append( $new );
                }
            });
        });
    </script>

    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:30px" ></div>
{% endblock body %}


{% block footer %}
    {% include 'RecordMoney\Footer.html' %}
{% endblock footer %}