<!-- 配置顶部导航栏 -->
<div class="ui inverted borderless stackable fix top menu">
    <div class="active teal item">
        <a href="{% url 'nsp_HomePage:HomePage' %}">
            <i><h3>Record System</h3></i>
        </a>
    </div>

    <a class="blue item" href="{% url 'nsp_RecordMoney:RecordMoney' %}">查看记录</a>
    <a class="blue item" href="{% url 'nsp_RecordMoney:NewRecord' %}">新增记录</a>
    <a class="blue item" href="{% url 'nsp_RecordMoney:DataVisual' %}">可视化</a>

    <div class="right menu">
        <a class="item">注册</a>
    </div>
</div>