<!-- extends表明此页面继承自base.html文件 -->
{% extends "base.html" %}


{% block title %}
    记录系统 | 收支记录详情
{% endblock %}


{% block header %}
    {% include 'RecordMoney\Header.html' %}
{% endblock header %}


{% block body%}
    <!-- 创建一个分割条 background-color:#ddd" -->
    <div class="container" style="height:10px" ></div>

    <!-- 收支记录的时间筛选器 -->
    <div class="ui form">
        <div class="field">
            <label>Gender</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                    <div class="item" data-value="1">Male</div>
                    <div class="item" data-value="0">Female</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui form">
        <div class="field">
            <label>请选择数据的时间范围</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="time_filter">
                <i class="dropdown icon"></i>
                <div class="default text">---请选择时间范围---</div>
                <div class="menu">
                    <div class="item" data-value="1">今日数据</div>
                    <div class="item" data-value="2">本周数据</div>
                    <div class="item" data-value="2">本月数据</div>
                    <div class="item" data-value="2">本年数据</div>
                </div>
            </div>
            <button class="ui button" type="submit">提交</button>
        </div>
    </div>


    <!-- 参数：inverted：反转颜色；segment：带矩形边框 -->
    <div class="ui action">
        <select class="ui  dropdown" id="time_filter" name="time_filter">
            <option value="">---请选择时间范围---</option>
            <option data-value='1'>今日数据</option>
            <option data-value='2'>本周数据</option>
            <option data-value='3'>本月数据</option>
            <option data-value='4'>本年数据</option>
        </select>
        <button class="ui button" type="submit">提交</button>
    </div>


    <!-- 创建一个分割条 -->
    <div class="container" style="height:20px" ></div>

    <!-- 显示筛选后的收支记录 -->
    <div class="ui fluid container" >
        <a class="text-info" style="font-size:20px"><strong>{{ time_filter_label }}</strong></a>

        <table class="table" style="font-size:14px">
            <thead class="thead-light" > 
                <tr>
                    <!-- <th>年</th> -->
                    <!-- <th>月</th> -->
                    <!-- <th>日</th> -->
                    <!-- <th>周</th> -->
                    <!-- <th>所属期间</th> -->
                    <th>收支类型</th>
                    <th>一级科目</th>
                    <th>明细科目</th>
                    <th>交易商家</th>
                    <th>摘要</th>
                    <th>金额(元)</th>
                    <th>账户</th>
                    <!-- <th>记录时间</th> -->
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                {% for rm in record_moneys %}
                    <tr>
                        <!-- td>{{ rm.trading_year }}</td> -->
                        <!-- <td>{{ rm.trading_month }}</td> -->
                        <!-- <td>{{ rm.trading_day }}</td> -->
                        <!-- <td>{{ rm.trading_week }}</td> -->
                        <!-- <td>{{ rm.trading_period }}</td> -->
                        <td>{{ rm.trading_type }}</td>
                        <td>{{ rm.trading_first_level_account }}</td>
                        <td>{{ rm.trading_detail_account }}</td>
                        <td>{{ rm.trader }}</td>
                        <td class="text-left">{{ rm.summary}} </td>
                        <td class="text-right">{{ rm.amount }}</td>
                        <td>{{ rm.trading_account }}</td>
                        <!-- <td>{{ rm.record_time }}</td> -->
                        <th>
                            <a type="button">删除</a>
                            <a>编辑</a>
                        </th>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-left" colspan="8">
                            <!--第一个单元格与第二个单元格合并，
                                colspan="8"意思是第一个单元格的长度改变成5个单元格的长度，
                                也就是把第一个单元格长度边长五倍，第二个单元格的<td></td>删除。-->
                            尚未添加任何记录。
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 创建一个分割条 -->
    <div class="container-fluid" style="height:30px" ></div>
{% endblock body %}


{% block footer %}
    {% include 'RecordMoney\Footer.html' %}
{% endblock footer %}