<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
    <head>
        <!-- 网站采用的字符编码 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap4核心CSS文件 -->
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" 
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
              crossorigin="anonymous">
        
        <!-- jQuer需要放在上面才起作用 -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script> 
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" 
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
                crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" 
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
                crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
                

        <title>
            {% block title %}
                猎户座工程 | 记录系统
            {% endblock %}
        </title>
    </head>

    <!-- 配置顶部导航栏 -->
    <nav class="navbar navbar-expand-sm navbar-static-top navbar-light shadow">
        <div class="container">
            <!--配置左上角的LOGO--> 
            <a class="navbar-brand text-info" href="{% url 'nsp_HomePage:HomePage' %}">
                <strong><i><h4>Record System</h4></i></strong>
            </a>

            <!--配置折叠菜单按钮--> 
            <button class="navbar-toggler"                  type="button" 
                    data-toggle="collapse"                  data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent"  aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!--配置动态折叠菜单的内容--> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- 时间记录菜单 -->
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'nsp_RecordTime:NewRecord' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">时间记录</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url 'nsp_RecordTime:NewRecord' %}">新增</a>
                            <a class="dropdown-item" href="#">查询</a>
                        </div>
                    </li>

                    <!-- 收支记录菜单 -->
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'nsp_RecordMoney:NewRecord' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">收支记录</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url 'nsp_RecordMoney:NewRecord' %}">新增</a>
                            <a class="dropdown-item" href="{% url 'nsp_RecordMoney:Records' %}">查询</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">投资管理</a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">主数据</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="#">时间类</a>
                            <a class="dropdown-item" href="#">收支类</a>
                            <a class="dropdown-item" href="#">投资类</a>
                        </div>
                    </li> 
                </ul>

                <!-- 用户管理菜单 -->
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link" >你好， {{ user.username }} </span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> 注销 </a>
                        </li>
                    {% else %} 
                        <li class="nav-item">
                            <a  class="nav-link" href="#"> 注册 </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> 登录 </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>    
    </nav>

    <body>
        <!-- 预留的页眉 -->
        {% block header %}
        {% endblock header %} 


        <!-- 预留的页面 -->
        {% block body %}
        {% endblock body %}


        <!-- 预留的页脚 -->
        {% block footer %}
        {% endblock footer %}
    </body>
</html>